#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.components-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}


.left-column {
    flex: 0 0 auto;
    width: 600px;
}

.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 900px;
}

@media (max-width: 1200px) {
    .components-container {
        flex-direction: column;
        align-items: center;
    }
    
    .left-column {
        width: 100%;
        max-width: 600px;
    }
    
    .right-column {
        width: 100%;
    }
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}